@import "../../../../common-styles";

.resume-profile-card {
  display: flex;
  flex-direction: column;

  &-wrapper {
    flex-basis: 100%;
    height: fit-content;
  }

  &-avatar {
    width: 96px;
    border-radius: 50%;
    height: 96px;
    margin-bottom: 16px;
  }

  &-text {
    display: block !important;

    &.name { font-size: 1.5rem; margin-bottom: 4px; }
    &.position { font-size: 1.1rem; color: $accent-color; margin-bottom: 32px }

    &.contact {
      transition: 0.2s ease;
      font-size: 1.1rem;

      &-container { margin-bottom: 16px; width: fit-content }
      &:hover { color: #424242 }
    }
  }

  &-button {
    width: 100%;
    border-radius: 8px;
    padding: 10px 16px;
    color: #e7e7e7;
    background: #1f1f1f !important;

    &:hover {
      background: $accent-color !important;
      transform: translateY(-2px);
      box-shadow: rgba(52, 125, 199, 0.3) 0 4px 64px 0 !important;
    }

    &-container {
      flex: 1;
      display: flex;
      align-items: flex-end;
      margin-top: 16px;
    }
  }
}