@import "../../common-styles";

.header {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
  height: 35px;

  &-logo {
    &-container {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 16px;
    }

    &-avatar {
      width: 48px;
      height: 48px;
      border-radius: 100%;
    }

    &-text {
      display: block;
      font-size: 1.2rem;
      line-height: 1.2rem;
      width: fit-content;
    }
  }

  &-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    margin: 0 -4px;
    text-align: center;
  }

  &-link {
    margin: 0 4px;
    padding: 6px 20px;
    border-radius: 25px !important;
    color: #858585 !important;
    background-color: transparent;
    font-weight: 700 !important;
    transition: 0.2s ease;
  }

  &-link:last-child {
    margin-right: 0;
    padding-right: 4px;
  }

  &-link:hover {
    background: none !important;
    color: $accent-color !important
  }

  &-button {
    height: 35px;
    width: 180px;
    padding: 8px 24px !important;
    border-radius: 16px !important;
    background-color: #333333 !important;
    color: #fafafa !important;
    font-size: 14px !important;
    text-wrap: none;

    &-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1;
    }
  }

  &-button:hover {
    background-color: $accent-color !important;
  }
}

.active { color: $accent-color !important }
.active:hover { color: $accent-color !important }

@media (max-width: 865px) {
  .header {
    display: none;
  }
}