.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 32px;
  width: 100%;

  &-links { display: flex; margin-bottom: 32px }
  @media (max-width: 600px) { &-links { display: none } }

  &-signature {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;

    &-text {
      color: #4d4d4d;
      text-align: center;
      display: block;
      line-height: 1.8rem;
    }
  }
  @media (max-width: 600px) { &-signature { gap: 8px } }
}

.gridfolio-link { text-decoration: underline; color: #656565 }