.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 32px;
  width: 100%;

  &-signature {
    &-text {
      color: #656565;
      text-align: center;
      display: block;
      line-height: 24px;
    }
  }
}