.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
  transition: all 0.15s ease-in-out;
}

@for $i from 1 through 8 {
  .card-wrapper:nth-child(#{$i}n) .animation-slideIn {
    animation-delay: #{($i + 1) * 0.05}s;
  }
}

.animation-slideIn {
  animation: slideIn;
  animation-timing-function: ease-in-out;
  animation-duration: 200ms;
  animation-fill-mode: backwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  55% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}