.about-me-hello-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &-heading {
    margin-bottom: 24px;
    line-height: 2.2rem;
  }

  &-text {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  @media (max-width: 650px) {
    &-heading {
      line-height: 1.4rem;
      margin-bottom: 16px;
      font-size: 1.35rem;

      &-mobile-break { display: block }
    }

    &-text {
      line-height: 1.2rem;
      font-size: 1rem;
    }
  }
}